{"openapi":"3.0.0","info":{"title":"Oz Api","description":"Oz API is a core module of OzForensics systems\n","version":"3.15.2"},"servers":[{"url":"https://api.liveness.kz","description":"Productive KZ Cloud Server"},{"url":"https://api-asia.ozforensics.com","description":"Productive Asia Cloud Server"},{"url":"https://api.sandbox.ozforensics.com","description":"Test Asia Cloud Server"}],"tags":[{"name":"Version"},{"name":"Authorization"},{"name":"Users","description":"Any transaction with API require authorization. Authorization is allowed for registered users only.\nUsers have different role and permissions inside companies.\n"},{"name":"Companies","description":"COMPANY objects reflects one organization unit with isolated users and admins over this group.\nEach user have to be included in one company, except system ADMINs.\n"},{"name":"Folders","description":"FOLDERS object reflects physical folder on hard disk, mounted to API on host system.\nFolder contains any amount of media files.\nAlso, folder is the start point of any analyse.\n"},{"name":"Media","description":"MEDIA object reflects one physical media file, uploaded to the folder.\n"},{"name":"Analyses","description":"ANALYSE object reflects one attempt to perform analization of folder and contains\nextracted images and results.\n"}],"paths":{"/api/version":{"get":{"summary":"Get actual version","description":"Just returns actual version information.\nAlso, use that entrypoint to check service availability\n","tags":["Version"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"lamb":{"type":"string"},"oz_core":{"type":"string"}}},"example":{"oz_core":"3.15.2","lamb":"2.2.21"}}}}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {method: 'GET', url: 'https://api.liveness.kz/api/version'};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url https://api.liveness.kz/api/version"},{"lang":"Shell + Httpie","source":"http GET https://api.liveness.kz/api/version"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\nconn.request(\"GET\", \"/api/version\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/version\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/version');\n$request->setMethod(HTTP_METH_GET);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.liveness.kz/api/version');\n$request->setRequestMethod('GET');\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]}},"/api/authorize/auth":{"post":{"summary":"Authorize by name and password","tags":["Authorization"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"credentials":{"type":"object","properties":{"email":{"type":"string","example":"demo@ozforensics.com"},"password":{"type":"string","example":654321}}}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionModel"}}}},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.liveness.kz/api/authorize/auth',\n  headers: {'content-type': 'application/json'},\n  body: {credentials: {email: 'demo@ozforensics.com', password: 654321}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request POST \\\n  --url https://api.liveness.kz/api/authorize/auth \\\n  --header 'content-type: application/json' \\\n  --data '{\"credentials\":{\"email\":\"demo@ozforensics.com\",\"password\":654321}}'"},{"lang":"Shell + Httpie","source":"echo '{\"credentials\":{\"email\":\"demo@ozforensics.com\",\"password\":654321}}' |  \\\n  http POST https://api.liveness.kz/api/authorize/auth \\\n  content-type:application/json"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\npayload = \"{\\\"credentials\\\":{\\\"email\\\":\\\"demo@ozforensics.com\\\",\\\"password\\\":654321}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/api/authorize/auth\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/authorize/auth\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"credentials\\\":{\\\"email\\\":\\\"demo@ozforensics.com\\\",\\\"password\\\":654321}}\",\n  CURLOPT_HTTPHEADER => [\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/authorize/auth');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders([\n  'content-type' => 'application/json'\n]);\n\n$request->setBody('{\"credentials\":{\"email\":\"demo@ozforensics.com\",\"password\":654321}}');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"credentials\":{\"email\":\"demo@ozforensics.com\",\"password\":654321}}');\n\n$request->setRequestUrl('https://api.liveness.kz/api/authorize/auth');\n$request->setRequestMethod('POST');\n$request->setBody($body);\n\n$request->setHeaders([\n  'content-type' => 'application/json'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]}},"/api/authorize/restore":{"post":{"summary":"Request password recovery to email","tags":["Users"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"credentials":{"type":"object","properties":{"email":{"type":"string"}}}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","default":true}}}}}},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.liveness.kz/api/authorize/restore',\n  headers: {'content-type': 'application/json'},\n  body: {credentials: {email: 'string'}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request POST \\\n  --url https://api.liveness.kz/api/authorize/restore \\\n  --header 'content-type: application/json' \\\n  --data '{\"credentials\":{\"email\":\"string\"}}'"},{"lang":"Shell + Httpie","source":"echo '{\"credentials\":{\"email\":\"string\"}}' |  \\\n  http POST https://api.liveness.kz/api/authorize/restore \\\n  content-type:application/json"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\npayload = \"{\\\"credentials\\\":{\\\"email\\\":\\\"string\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/api/authorize/restore\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/authorize/restore\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"credentials\\\":{\\\"email\\\":\\\"string\\\"}}\",\n  CURLOPT_HTTPHEADER => [\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/authorize/restore');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders([\n  'content-type' => 'application/json'\n]);\n\n$request->setBody('{\"credentials\":{\"email\":\"string\"}}');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"credentials\":{\"email\":\"string\"}}');\n\n$request->setRequestUrl('https://api.liveness.kz/api/authorize/restore');\n$request->setRequestMethod('POST');\n$request->setBody($body);\n\n$request->setHeaders([\n  'content-type' => 'application/json'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]},"patch":{"summary":"Apply password recovery code","tags":["Users"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"credentials":{"type":"object","properties":{"email":{"type":"string"},"password":{"description":"new password","type":"string","example":123456},"restore_code":{"description":"restore code from email","type":"string","example":999}}}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","default":true}}}}}},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.liveness.kz/api/authorize/restore',\n  headers: {'content-type': 'application/json'},\n  body: {credentials: {email: 'string', password: 123456, restore_code: 999}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request PATCH \\\n  --url https://api.liveness.kz/api/authorize/restore \\\n  --header 'content-type: application/json' \\\n  --data '{\"credentials\":{\"email\":\"string\",\"password\":123456,\"restore_code\":999}}'"},{"lang":"Shell + Httpie","source":"echo '{\"credentials\":{\"email\":\"string\",\"password\":123456,\"restore_code\":999}}' |  \\\n  http PATCH https://api.liveness.kz/api/authorize/restore \\\n  content-type:application/json"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\npayload = \"{\\\"credentials\\\":{\\\"email\\\":\\\"string\\\",\\\"password\\\":123456,\\\"restore_code\\\":999}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/api/authorize/restore\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/authorize/restore\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"PATCH\",\n  CURLOPT_POSTFIELDS => \"{\\\"credentials\\\":{\\\"email\\\":\\\"string\\\",\\\"password\\\":123456,\\\"restore_code\\\":999}}\",\n  CURLOPT_HTTPHEADER => [\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\nHttpRequest::methodRegister('PATCH');\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/authorize/restore');\n$request->setMethod(HttpRequest::HTTP_METH_PATCH);\n\n$request->setHeaders([\n  'content-type' => 'application/json'\n]);\n\n$request->setBody('{\"credentials\":{\"email\":\"string\",\"password\":123456,\"restore_code\":999}}');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"credentials\":{\"email\":\"string\",\"password\":123456,\"restore_code\":999}}');\n\n$request->setRequestUrl('https://api.liveness.kz/api/authorize/restore');\n$request->setRequestMethod('PATCH');\n$request->setBody($body);\n\n$request->setHeaders([\n  'content-type' => 'application/json'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]}},"/api/users":{"post":{"summary":"Add new user","tags":["Users"],"security":[{"AccessToken":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"credentials":{"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}}},"profile":{"type":"object","properties":{"user_type":{"$ref":"#/components/schemas/UserType","example":"CLIENT"},"company_id":{"type":"string","format":"uuid","example":"57b4607c-475c-4561-9a8b-2f3b0f9270a9"},"first_name":{"type":"string"},"middle_name":{"type":"string"},"last_name":{"type":"string"},"is_admin":{"description":"mark user as company admin","type":"boolean","example":false},"is_service":{"description":"mark user as service (with long live token)","type":"boolean","example":false},"can_start_analyse_biometry":{"description":"allow biometry analyses","type":"boolean","default":true},"can_start_analyse_collection":{"description":"allow collections analyses","type":"boolean","default":true},"can_start_analyse_quality":{"description":"allow quality (liveness) analyses","type":"boolean","default":true}},"required":["user_type","first_name","middle_name","last_name","company_id"]}}}}}},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserModel"}}}},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.liveness.kz/api/users',\n  headers: {\n    'content-type': 'application/json',\n    'X-Forensic-Access-Token': 'REPLACE_KEY_VALUE'\n  },\n  body: {\n    credentials: {email: 'string', password: 'string'},\n    profile: {\n      user_type: 'ADMIN',\n      company_id: '57b4607c-475c-4561-9a8b-2f3b0f9270a9',\n      first_name: 'string',\n      middle_name: 'string',\n      last_name: 'string',\n      is_admin: false,\n      is_service: false,\n      can_start_analyse_biometry: true,\n      can_start_analyse_collection: true,\n      can_start_analyse_quality: true\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request POST \\\n  --url https://api.liveness.kz/api/users \\\n  --header 'X-Forensic-Access-Token: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"credentials\":{\"email\":\"string\",\"password\":\"string\"},\"profile\":{\"user_type\":\"ADMIN\",\"company_id\":\"57b4607c-475c-4561-9a8b-2f3b0f9270a9\",\"first_name\":\"string\",\"middle_name\":\"string\",\"last_name\":\"string\",\"is_admin\":false,\"is_service\":false,\"can_start_analyse_biometry\":true,\"can_start_analyse_collection\":true,\"can_start_analyse_quality\":true}}'"},{"lang":"Shell + Httpie","source":"echo '{\"credentials\":{\"email\":\"string\",\"password\":\"string\"},\"profile\":{\"user_type\":\"ADMIN\",\"company_id\":\"57b4607c-475c-4561-9a8b-2f3b0f9270a9\",\"first_name\":\"string\",\"middle_name\":\"string\",\"last_name\":\"string\",\"is_admin\":false,\"is_service\":false,\"can_start_analyse_biometry\":true,\"can_start_analyse_collection\":true,\"can_start_analyse_quality\":true}}' |  \\\n  http POST https://api.liveness.kz/api/users \\\n  X-Forensic-Access-Token:REPLACE_KEY_VALUE \\\n  content-type:application/json"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\npayload = \"{\\\"credentials\\\":{\\\"email\\\":\\\"string\\\",\\\"password\\\":\\\"string\\\"},\\\"profile\\\":{\\\"user_type\\\":\\\"ADMIN\\\",\\\"company_id\\\":\\\"57b4607c-475c-4561-9a8b-2f3b0f9270a9\\\",\\\"first_name\\\":\\\"string\\\",\\\"middle_name\\\":\\\"string\\\",\\\"last_name\\\":\\\"string\\\",\\\"is_admin\\\":false,\\\"is_service\\\":false,\\\"can_start_analyse_biometry\\\":true,\\\"can_start_analyse_collection\\\":true,\\\"can_start_analyse_quality\\\":true}}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'X-Forensic-Access-Token': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"POST\", \"/api/users\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/users\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"credentials\\\":{\\\"email\\\":\\\"string\\\",\\\"password\\\":\\\"string\\\"},\\\"profile\\\":{\\\"user_type\\\":\\\"ADMIN\\\",\\\"company_id\\\":\\\"57b4607c-475c-4561-9a8b-2f3b0f9270a9\\\",\\\"first_name\\\":\\\"string\\\",\\\"middle_name\\\":\\\"string\\\",\\\"last_name\\\":\\\"string\\\",\\\"is_admin\\\":false,\\\"is_service\\\":false,\\\"can_start_analyse_biometry\\\":true,\\\"can_start_analyse_collection\\\":true,\\\"can_start_analyse_quality\\\":true}}\",\n  CURLOPT_HTTPHEADER => [\n    \"X-Forensic-Access-Token: REPLACE_KEY_VALUE\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/users');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders([\n  'content-type' => 'application/json',\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$request->setBody('{\"credentials\":{\"email\":\"string\",\"password\":\"string\"},\"profile\":{\"user_type\":\"ADMIN\",\"company_id\":\"57b4607c-475c-4561-9a8b-2f3b0f9270a9\",\"first_name\":\"string\",\"middle_name\":\"string\",\"last_name\":\"string\",\"is_admin\":false,\"is_service\":false,\"can_start_analyse_biometry\":true,\"can_start_analyse_collection\":true,\"can_start_analyse_quality\":true}}');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"credentials\":{\"email\":\"string\",\"password\":\"string\"},\"profile\":{\"user_type\":\"ADMIN\",\"company_id\":\"57b4607c-475c-4561-9a8b-2f3b0f9270a9\",\"first_name\":\"string\",\"middle_name\":\"string\",\"last_name\":\"string\",\"is_admin\":false,\"is_service\":false,\"can_start_analyse_biometry\":true,\"can_start_analyse_collection\":true,\"can_start_analyse_quality\":true}}');\n\n$request->setRequestUrl('https://api.liveness.kz/api/users');\n$request->setRequestMethod('POST');\n$request->setBody($body);\n\n$request->setHeaders([\n  'content-type' => 'application/json',\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]},"get":{"summary":"Get users list","tags":["Users"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"offset","schema":{"type":"integer","default":0,"example":0},"description":"offset in query"},{"in":"query","name":"limit","schema":{"type":"integer","default":100,"example":10},"description":"max amount of items in query"},{"in":"query","name":"company_id","schema":{"type":"string","format":"uuid"},"description":"search by company id"},{"in":"query","name":"user_type","schema":{"description":"type/role of user","type":"string","enum":["ADMIN","OPERATOR","CLIENT","CLIENT_OPERATOR"],"example":"ADMIN"},"description":"search by user type"},{"in":"query","name":"is_service","schema":{"type":"boolean"},"description":"search service users"},{"in":"query","name":"is_admin","schema":{"type":"boolean"},"description":"search admin users"},{"in":"query","name":"search_text","schema":{"type":"string","example":"Landale"},"description":"search users by word"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"offset":{"type":"integer","example":0},"limit":{"type":"integer","example":10},"total_count":{"type":"integer","example":5},"items":{"type":"array","items":{"$ref":"#/components/schemas/UserModel"}}}}}}},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.liveness.kz/api/users',\n  qs: {\n    offset: '0',\n    limit: '10',\n    company_id: 'SOME_STRING_VALUE',\n    user_type: 'ADMIN',\n    is_service: 'SOME_BOOLEAN_VALUE',\n    is_admin: 'SOME_BOOLEAN_VALUE',\n    search_text: 'Landale'\n  },\n  headers: {'X-Forensic-Access-Token': 'REPLACE_KEY_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.liveness.kz/api/users?offset=0&limit=10&company_id=SOME_STRING_VALUE&user_type=ADMIN&is_service=SOME_BOOLEAN_VALUE&is_admin=SOME_BOOLEAN_VALUE&search_text=Landale' \\\n  --header 'X-Forensic-Access-Token: REPLACE_KEY_VALUE'"},{"lang":"Shell + Httpie","source":"http GET 'https://api.liveness.kz/api/users?offset=0&limit=10&company_id=SOME_STRING_VALUE&user_type=ADMIN&is_service=SOME_BOOLEAN_VALUE&is_admin=SOME_BOOLEAN_VALUE&search_text=Landale' \\\n  X-Forensic-Access-Token:REPLACE_KEY_VALUE"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\nheaders = { 'X-Forensic-Access-Token': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/api/users?offset=0&limit=10&company_id=SOME_STRING_VALUE&user_type=ADMIN&is_service=SOME_BOOLEAN_VALUE&is_admin=SOME_BOOLEAN_VALUE&search_text=Landale\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/users?offset=0&limit=10&company_id=SOME_STRING_VALUE&user_type=ADMIN&is_service=SOME_BOOLEAN_VALUE&is_admin=SOME_BOOLEAN_VALUE&search_text=Landale\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"X-Forensic-Access-Token: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/users');\n$request->setMethod(HTTP_METH_GET);\n\n$request->setQueryData([\n  'offset' => '0',\n  'limit' => '10',\n  'company_id' => 'SOME_STRING_VALUE',\n  'user_type' => 'ADMIN',\n  'is_service' => 'SOME_BOOLEAN_VALUE',\n  'is_admin' => 'SOME_BOOLEAN_VALUE',\n  'search_text' => 'Landale'\n]);\n\n$request->setHeaders([\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.liveness.kz/api/users');\n$request->setRequestMethod('GET');\n$request->setQuery(new http\\QueryString([\n  'offset' => '0',\n  'limit' => '10',\n  'company_id' => 'SOME_STRING_VALUE',\n  'user_type' => 'ADMIN',\n  'is_service' => 'SOME_BOOLEAN_VALUE',\n  'is_admin' => 'SOME_BOOLEAN_VALUE',\n  'search_text' => 'Landale'\n]));\n\n$request->setHeaders([\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]}},"/api/users/{user_id}":{"patch":{"summary":"Update user information","tags":["Users"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"user_id","schema":{"type":"string"},"required":true,"description":"you can use 'me' to update self","example":"a0e69f51-e6d8-49a9-b4c5-abda2db0683d"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserModel"}}}},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserModel"}}}},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.liveness.kz/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d',\n  headers: {\n    'content-type': 'application/json',\n    'X-Forensic-Access-Token': 'REPLACE_KEY_VALUE'\n  },\n  body: {\n    meta_data: {},\n    technical_meta_data: {},\n    user_id: 'b79872ff-d6da-47ae-af5c-0500b91b8d58',\n    company_id: '1c05d6ee-345b-437e-9529-7712b2bba732',\n    user_type: 'ADMIN',\n    first_name: 'Duncan',\n    middle_name: 'John',\n    last_name: 'Jackson',\n    email: 'jackson@gmail.com',\n    is_admin: false,\n    is_service: false,\n    can_start_analyse_biometry: true,\n    can_start_analyse_collection: true,\n    can_start_analyse_documents: true,\n    can_start_analyse_quality: true\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request PATCH \\\n  --url https://api.liveness.kz/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d \\\n  --header 'X-Forensic-Access-Token: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"meta_data\":{},\"technical_meta_data\":{},\"user_id\":\"b79872ff-d6da-47ae-af5c-0500b91b8d58\",\"company_id\":\"1c05d6ee-345b-437e-9529-7712b2bba732\",\"user_type\":\"ADMIN\",\"first_name\":\"Duncan\",\"middle_name\":\"John\",\"last_name\":\"Jackson\",\"email\":\"jackson@gmail.com\",\"is_admin\":false,\"is_service\":false,\"can_start_analyse_biometry\":true,\"can_start_analyse_collection\":true,\"can_start_analyse_documents\":true,\"can_start_analyse_quality\":true}'"},{"lang":"Shell + Httpie","source":"echo '{\"meta_data\":{},\"technical_meta_data\":{},\"user_id\":\"b79872ff-d6da-47ae-af5c-0500b91b8d58\",\"company_id\":\"1c05d6ee-345b-437e-9529-7712b2bba732\",\"user_type\":\"ADMIN\",\"first_name\":\"Duncan\",\"middle_name\":\"John\",\"last_name\":\"Jackson\",\"email\":\"jackson@gmail.com\",\"is_admin\":false,\"is_service\":false,\"can_start_analyse_biometry\":true,\"can_start_analyse_collection\":true,\"can_start_analyse_documents\":true,\"can_start_analyse_quality\":true}' |  \\\n  http PATCH https://api.liveness.kz/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d \\\n  X-Forensic-Access-Token:REPLACE_KEY_VALUE \\\n  content-type:application/json"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\npayload = \"{\\\"meta_data\\\":{},\\\"technical_meta_data\\\":{},\\\"user_id\\\":\\\"b79872ff-d6da-47ae-af5c-0500b91b8d58\\\",\\\"company_id\\\":\\\"1c05d6ee-345b-437e-9529-7712b2bba732\\\",\\\"user_type\\\":\\\"ADMIN\\\",\\\"first_name\\\":\\\"Duncan\\\",\\\"middle_name\\\":\\\"John\\\",\\\"last_name\\\":\\\"Jackson\\\",\\\"email\\\":\\\"jackson@gmail.com\\\",\\\"is_admin\\\":false,\\\"is_service\\\":false,\\\"can_start_analyse_biometry\\\":true,\\\"can_start_analyse_collection\\\":true,\\\"can_start_analyse_documents\\\":true,\\\"can_start_analyse_quality\\\":true}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'X-Forensic-Access-Token': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"PATCH\", \"/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"PATCH\",\n  CURLOPT_POSTFIELDS => \"{\\\"meta_data\\\":{},\\\"technical_meta_data\\\":{},\\\"user_id\\\":\\\"b79872ff-d6da-47ae-af5c-0500b91b8d58\\\",\\\"company_id\\\":\\\"1c05d6ee-345b-437e-9529-7712b2bba732\\\",\\\"user_type\\\":\\\"ADMIN\\\",\\\"first_name\\\":\\\"Duncan\\\",\\\"middle_name\\\":\\\"John\\\",\\\"last_name\\\":\\\"Jackson\\\",\\\"email\\\":\\\"jackson@gmail.com\\\",\\\"is_admin\\\":false,\\\"is_service\\\":false,\\\"can_start_analyse_biometry\\\":true,\\\"can_start_analyse_collection\\\":true,\\\"can_start_analyse_documents\\\":true,\\\"can_start_analyse_quality\\\":true}\",\n  CURLOPT_HTTPHEADER => [\n    \"X-Forensic-Access-Token: REPLACE_KEY_VALUE\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\nHttpRequest::methodRegister('PATCH');\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d');\n$request->setMethod(HttpRequest::HTTP_METH_PATCH);\n\n$request->setHeaders([\n  'content-type' => 'application/json',\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$request->setBody('{\"meta_data\":{},\"technical_meta_data\":{},\"user_id\":\"b79872ff-d6da-47ae-af5c-0500b91b8d58\",\"company_id\":\"1c05d6ee-345b-437e-9529-7712b2bba732\",\"user_type\":\"ADMIN\",\"first_name\":\"Duncan\",\"middle_name\":\"John\",\"last_name\":\"Jackson\",\"email\":\"jackson@gmail.com\",\"is_admin\":false,\"is_service\":false,\"can_start_analyse_biometry\":true,\"can_start_analyse_collection\":true,\"can_start_analyse_documents\":true,\"can_start_analyse_quality\":true}');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"meta_data\":{},\"technical_meta_data\":{},\"user_id\":\"b79872ff-d6da-47ae-af5c-0500b91b8d58\",\"company_id\":\"1c05d6ee-345b-437e-9529-7712b2bba732\",\"user_type\":\"ADMIN\",\"first_name\":\"Duncan\",\"middle_name\":\"John\",\"last_name\":\"Jackson\",\"email\":\"jackson@gmail.com\",\"is_admin\":false,\"is_service\":false,\"can_start_analyse_biometry\":true,\"can_start_analyse_collection\":true,\"can_start_analyse_documents\":true,\"can_start_analyse_quality\":true}');\n\n$request->setRequestUrl('https://api.liveness.kz/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d');\n$request->setRequestMethod('PATCH');\n$request->setBody($body);\n\n$request->setHeaders([\n  'content-type' => 'application/json',\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]},"get":{"summary":"Get user information","tags":["Users"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"user_id","schema":{"type":"string"},"required":true,"description":"you can use 'me' to get self","example":"a0e69f51-e6d8-49a9-b4c5-abda2db0683d"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserModel"}}}},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.liveness.kz/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d',\n  headers: {'X-Forensic-Access-Token': 'REPLACE_KEY_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url https://api.liveness.kz/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d \\\n  --header 'X-Forensic-Access-Token: REPLACE_KEY_VALUE'"},{"lang":"Shell + Httpie","source":"http GET https://api.liveness.kz/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d \\\n  X-Forensic-Access-Token:REPLACE_KEY_VALUE"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\nheaders = { 'X-Forensic-Access-Token': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"X-Forensic-Access-Token: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d');\n$request->setMethod(HTTP_METH_GET);\n\n$request->setHeaders([\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.liveness.kz/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d');\n$request->setRequestMethod('GET');\n$request->setHeaders([\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]},"delete":{"summary":"Delete user","tags":["Users"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"user_id","schema":{"type":"string"},"required":true,"description":"you can use 'me' to delete self","example":"a0e69f51-e6d8-49a9-b4c5-abda2db0683d"}],"responses":{"204":{"description":"OK"},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.liveness.kz/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d',\n  headers: {'X-Forensic-Access-Token': 'REPLACE_KEY_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request DELETE \\\n  --url https://api.liveness.kz/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d \\\n  --header 'X-Forensic-Access-Token: REPLACE_KEY_VALUE'"},{"lang":"Shell + Httpie","source":"http DELETE https://api.liveness.kz/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d \\\n  X-Forensic-Access-Token:REPLACE_KEY_VALUE"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\nheaders = { 'X-Forensic-Access-Token': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"DELETE\", \"/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => [\n    \"X-Forensic-Access-Token: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d');\n$request->setMethod(HTTP_METH_DELETE);\n\n$request->setHeaders([\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.liveness.kz/api/users/a0e69f51-e6d8-49a9-b4c5-abda2db0683d');\n$request->setRequestMethod('DELETE');\n$request->setHeaders([\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]}},"/api/companies":{"post":{"summary":"Add company","tags":["Companies"],"security":[{"AccessToken":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"company name","example":"Global LTD"}}}}}},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyModel"}}}},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.liveness.kz/api/companies',\n  headers: {\n    'content-type': 'application/json',\n    'X-Forensic-Access-Token': 'REPLACE_KEY_VALUE'\n  },\n  body: {name: 'Global LTD'},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request POST \\\n  --url https://api.liveness.kz/api/companies \\\n  --header 'X-Forensic-Access-Token: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"Global LTD\"}'"},{"lang":"Shell + Httpie","source":"echo '{\"name\":\"Global LTD\"}' |  \\\n  http POST https://api.liveness.kz/api/companies \\\n  X-Forensic-Access-Token:REPLACE_KEY_VALUE \\\n  content-type:application/json"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\npayload = \"{\\\"name\\\":\\\"Global LTD\\\"}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'X-Forensic-Access-Token': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"POST\", \"/api/companies\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/companies\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"name\\\":\\\"Global LTD\\\"}\",\n  CURLOPT_HTTPHEADER => [\n    \"X-Forensic-Access-Token: REPLACE_KEY_VALUE\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/companies');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders([\n  'content-type' => 'application/json',\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$request->setBody('{\"name\":\"Global LTD\"}');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"name\":\"Global LTD\"}');\n\n$request->setRequestUrl('https://api.liveness.kz/api/companies');\n$request->setRequestMethod('POST');\n$request->setBody($body);\n\n$request->setHeaders([\n  'content-type' => 'application/json',\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]},"get":{"summary":"Get companies list","tags":["Companies"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"search_text","schema":{"type":"string","example":"Global"},"description":"search companies by word"},{"in":"query","name":"offset","schema":{"type":"integer","default":0,"example":0},"description":"Query offset"},{"in":"query","name":"limit","schema":{"type":"integer","default":100,"example":10},"description":"Query max count"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"offset":{"type":"integer","example":0},"limit":{"type":"integer","example":10},"total_count":{"type":"integer","example":5},"items":{"type":"array","items":{"$ref":"#/components/schemas/CompanyModel"}}}}}}},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.liveness.kz/api/companies',\n  qs: {search_text: 'Global', offset: '0', limit: '10'},\n  headers: {'X-Forensic-Access-Token': 'REPLACE_KEY_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.liveness.kz/api/companies?search_text=Global&offset=0&limit=10' \\\n  --header 'X-Forensic-Access-Token: REPLACE_KEY_VALUE'"},{"lang":"Shell + Httpie","source":"http GET 'https://api.liveness.kz/api/companies?search_text=Global&offset=0&limit=10' \\\n  X-Forensic-Access-Token:REPLACE_KEY_VALUE"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\nheaders = { 'X-Forensic-Access-Token': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/api/companies?search_text=Global&offset=0&limit=10\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/companies?search_text=Global&offset=0&limit=10\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"X-Forensic-Access-Token: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/companies');\n$request->setMethod(HTTP_METH_GET);\n\n$request->setQueryData([\n  'search_text' => 'Global',\n  'offset' => '0',\n  'limit' => '10'\n]);\n\n$request->setHeaders([\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.liveness.kz/api/companies');\n$request->setRequestMethod('GET');\n$request->setQuery(new http\\QueryString([\n  'search_text' => 'Global',\n  'offset' => '0',\n  'limit' => '10'\n]));\n\n$request->setHeaders([\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]}},"/api/companies/{company_id}":{"get":{"summary":"Get company","tags":["Companies"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"company_id","schema":{"type":"string","format":"uuid"},"required":true,"example":"0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyModel"}}}},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.liveness.kz/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0',\n  headers: {'X-Forensic-Access-Token': 'REPLACE_KEY_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url https://api.liveness.kz/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0 \\\n  --header 'X-Forensic-Access-Token: REPLACE_KEY_VALUE'"},{"lang":"Shell + Httpie","source":"http GET https://api.liveness.kz/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0 \\\n  X-Forensic-Access-Token:REPLACE_KEY_VALUE"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\nheaders = { 'X-Forensic-Access-Token': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"X-Forensic-Access-Token: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0');\n$request->setMethod(HTTP_METH_GET);\n\n$request->setHeaders([\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.liveness.kz/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0');\n$request->setRequestMethod('GET');\n$request->setHeaders([\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]},"patch":{"summary":"Update company","tags":["Companies"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"company_id","schema":{"type":"string","format":"uuid"},"required":true,"example":"0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"description":"new company name","type":"string","example":"Deep.com"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyModel"}}}},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.liveness.kz/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0',\n  headers: {\n    'content-type': 'application/json',\n    'X-Forensic-Access-Token': 'REPLACE_KEY_VALUE'\n  },\n  body: {name: 'Deep.com'},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request PATCH \\\n  --url https://api.liveness.kz/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0 \\\n  --header 'X-Forensic-Access-Token: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"Deep.com\"}'"},{"lang":"Shell + Httpie","source":"echo '{\"name\":\"Deep.com\"}' |  \\\n  http PATCH https://api.liveness.kz/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0 \\\n  X-Forensic-Access-Token:REPLACE_KEY_VALUE \\\n  content-type:application/json"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\npayload = \"{\\\"name\\\":\\\"Deep.com\\\"}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'X-Forensic-Access-Token': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"PATCH\", \"/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"PATCH\",\n  CURLOPT_POSTFIELDS => \"{\\\"name\\\":\\\"Deep.com\\\"}\",\n  CURLOPT_HTTPHEADER => [\n    \"X-Forensic-Access-Token: REPLACE_KEY_VALUE\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\nHttpRequest::methodRegister('PATCH');\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0');\n$request->setMethod(HttpRequest::HTTP_METH_PATCH);\n\n$request->setHeaders([\n  'content-type' => 'application/json',\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$request->setBody('{\"name\":\"Deep.com\"}');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"name\":\"Deep.com\"}');\n\n$request->setRequestUrl('https://api.liveness.kz/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0');\n$request->setRequestMethod('PATCH');\n$request->setBody($body);\n\n$request->setHeaders([\n  'content-type' => 'application/json',\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]},"delete":{"summary":"Delete company","tags":["Companies"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"company_id","schema":{"type":"string","format":"uuid"},"required":true,"example":"0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0"}],"responses":{"204":{"description":"OK"},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.liveness.kz/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0',\n  headers: {'X-Forensic-Access-Token': 'REPLACE_KEY_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request DELETE \\\n  --url https://api.liveness.kz/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0 \\\n  --header 'X-Forensic-Access-Token: REPLACE_KEY_VALUE'"},{"lang":"Shell + Httpie","source":"http DELETE https://api.liveness.kz/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0 \\\n  X-Forensic-Access-Token:REPLACE_KEY_VALUE"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\nheaders = { 'X-Forensic-Access-Token': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"DELETE\", \"/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => [\n    \"X-Forensic-Access-Token: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0');\n$request->setMethod(HTTP_METH_DELETE);\n\n$request->setHeaders([\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.liveness.kz/api/companies/0f4c09ab-e4a0-41ce-a47b-8b686c4c42f0');\n$request->setRequestMethod('DELETE');\n$request->setHeaders([\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]}},"/api/folders":{"post":{"summary":"Add Folder","description":"All parameters for this method are optional and can be added to the request body. All parameters are mandatory.\n\n* photo1…photoN – picture files to be added to the folder (in the request body);\n* video1…videoN – video files to be added to the folder (in the request body);\n* payload – variable that contains tags and metadata (In the request body.)\n","tags":["Folders"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"payload":{"type":"object","properties":{"folder:meta-data":{"description":"any custom meta data to associate with folder","type":"object","example":{"session_id":19364783,"customer_id":31986549}},"media:tags":{"description":"tags assosiated with media files","type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/TagType"}},"example":{"video1":["video_selfie","video_selfie_scan","orientation_portrait"],"photo1":["photo_selfie"],"photo2":["photo_id","photo_id_front"]}}}},"photo1":{"type":"string","format":"binary"},"photo2":{"type":"string","format":"binary"},"video1":{"type":"string","format":"binary"},"video2":{"type":"string","format":"binary"}},"additionalProperties":{"type":"string","format":"binary"}},"encoding":{"payload":{"contentType":"application/json"}}}}},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderModel"}}}},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.liveness.kz/api/folders',\n  headers: {\n    'content-type': 'multipart/form-data',\n    'X-Forensic-Access-Token': 'REPLACE_KEY_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request POST \\\n  --url https://api.liveness.kz/api/folders \\\n  --header 'X-Forensic-Access-Token: REPLACE_KEY_VALUE' \\\n  --header 'content-type: multipart/form-data'"},{"lang":"Shell + Httpie","source":"http POST https://api.liveness.kz/api/folders \\\n  X-Forensic-Access-Token:REPLACE_KEY_VALUE \\\n  content-type:multipart/form-data"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\nheaders = {\n    'content-type': \"multipart/form-data\",\n    'X-Forensic-Access-Token': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"POST\", \"/api/folders\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/folders\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_HTTPHEADER => [\n    \"X-Forensic-Access-Token: REPLACE_KEY_VALUE\",\n    \"content-type: multipart/form-data\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/folders');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders([\n  'content-type' => 'multipart/form-data',\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.liveness.kz/api/folders');\n$request->setRequestMethod('POST');\n$request->setHeaders([\n  'content-type' => 'multipart/form-data',\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]},"get":{"summary":"Get folders list","description":"Request all folders available to the user in the system and filter them by retrieved results.\n","tags":["Folders"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"offset","schema":{"type":"integer","default":0,"example":0},"description":"offset in query"},{"in":"query","name":"limit","schema":{"type":"integer","default":100,"example":10},"description":"max amount of items in query"},{"in":"query","name":"user_id","schema":{"type":"string","format":"uuid","example":"944fb475-47c6-4b6b-bfc4-0ff629440661"},"description":"filter by user id"},{"in":"query","name":"company_id","schema":{"type":"string","format":"uuid","example":"944fb475-47c6-4b6b-bfc4-0ff629440661"},"description":"filter by company id"},{"in":"query","name":"sorting","schema":{"type":"string","enum":["time_created{asc}","time_created{desc}","time_updated{asc}","time_updated{desc}"]},"description":"sorting order"},{"in":"query","name":"meta_data","schema":{"type":"string","example":"name==value"},"description":"filter by meta-data values. allowed operators: == and !="},{"in":"query","name":"with_analyses","schema":{"type":"boolean","example":true},"description":"add analyses information to query"},{"in":"query","name":"with_user","schema":{"type":"boolean","example":true},"description":"add user information to query"},{"in":"query","name":"with_company","schema":{"type":"boolean","example":true},"description":"add company information to query"},{"in":"query","name":"time_created.min","schema":{"type":"number","format":"double","example":1612380071},"description":"starting timestamp of creation in query"},{"in":"query","name":"time_created.max","schema":{"type":"number","format":"double","example":1612383071},"description":"last posible timestamp of creation in query"},{"in":"query","name":"time_updated.min","schema":{"type":"number","format":"double","example":1612380071},"description":"starting timestamp of updation in query"},{"in":"query","name":"time_updated.max","schema":{"type":"number","format":"double","example":1612383071},"description":"last posible timestamp of updation in query"},{"in":"query","name":"resolution_status","schema":{"description":"resolution status of analyses","type":"string","enum":["INITIAL","PROCESSING","FAILED","FINISHED","DECLINED","SUCCESS","OPERATOR_REQUIRED"],"example":"SUCCESS"},"description":"filter by resolution status"},{"in":"query","name":"resolution_status.exclude","schema":{"description":"resolution status of analyses","type":"string","enum":["INITIAL","PROCESSING","FAILED","FINISHED","DECLINED","SUCCESS","OPERATOR_REQUIRED"],"example":"SUCCESS"},"description":"filter excluding resolution status"},{"in":"query","name":"folder_id","schema":{"type":"string","format":"uuid"},"description":"find specific folder"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"offset":{"type":"integer","example":0},"limit":{"type":"integer","example":10},"total_count":{"type":"integer","example":5},"items":{"type":"array","items":{"$ref":"#/components/schemas/FolderModelExtended"}}}}}}},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.liveness.kz/api/folders',\n  qs: {\n    offset: '0',\n    limit: '10',\n    user_id: '944fb475-47c6-4b6b-bfc4-0ff629440661',\n    company_id: '944fb475-47c6-4b6b-bfc4-0ff629440661',\n    sorting: 'SOME_STRING_VALUE',\n    meta_data: 'name==value',\n    with_analyses: 'true',\n    with_user: 'true',\n    with_company: 'true',\n    'time_created.min': '1612380071',\n    'time_created.max': '1612383071',\n    'time_updated.min': '1612380071',\n    'time_updated.max': '1612383071',\n    resolution_status: 'SUCCESS',\n    'resolution_status.exclude': 'SUCCESS',\n    folder_id: 'SOME_STRING_VALUE'\n  },\n  headers: {'X-Forensic-Access-Token': 'REPLACE_KEY_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.liveness.kz/api/folders?offset=0&limit=10&user_id=944fb475-47c6-4b6b-bfc4-0ff629440661&company_id=944fb475-47c6-4b6b-bfc4-0ff629440661&sorting=SOME_STRING_VALUE&meta_data=name%3D%3Dvalue&with_analyses=true&with_user=true&with_company=true&time_created.min=1612380071&time_created.max=1612383071&time_updated.min=1612380071&time_updated.max=1612383071&resolution_status=SUCCESS&resolution_status.exclude=SUCCESS&folder_id=SOME_STRING_VALUE' \\\n  --header 'X-Forensic-Access-Token: REPLACE_KEY_VALUE'"},{"lang":"Shell + Httpie","source":"http GET 'https://api.liveness.kz/api/folders?offset=0&limit=10&user_id=944fb475-47c6-4b6b-bfc4-0ff629440661&company_id=944fb475-47c6-4b6b-bfc4-0ff629440661&sorting=SOME_STRING_VALUE&meta_data=name%3D%3Dvalue&with_analyses=true&with_user=true&with_company=true&time_created.min=1612380071&time_created.max=1612383071&time_updated.min=1612380071&time_updated.max=1612383071&resolution_status=SUCCESS&resolution_status.exclude=SUCCESS&folder_id=SOME_STRING_VALUE' \\\n  X-Forensic-Access-Token:REPLACE_KEY_VALUE"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\nheaders = { 'X-Forensic-Access-Token': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/api/folders?offset=0&limit=10&user_id=944fb475-47c6-4b6b-bfc4-0ff629440661&company_id=944fb475-47c6-4b6b-bfc4-0ff629440661&sorting=SOME_STRING_VALUE&meta_data=name%3D%3Dvalue&with_analyses=true&with_user=true&with_company=true&time_created.min=1612380071&time_created.max=1612383071&time_updated.min=1612380071&time_updated.max=1612383071&resolution_status=SUCCESS&resolution_status.exclude=SUCCESS&folder_id=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/folders?offset=0&limit=10&user_id=944fb475-47c6-4b6b-bfc4-0ff629440661&company_id=944fb475-47c6-4b6b-bfc4-0ff629440661&sorting=SOME_STRING_VALUE&meta_data=name%3D%3Dvalue&with_analyses=true&with_user=true&with_company=true&time_created.min=1612380071&time_created.max=1612383071&time_updated.min=1612380071&time_updated.max=1612383071&resolution_status=SUCCESS&resolution_status.exclude=SUCCESS&folder_id=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"X-Forensic-Access-Token: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/folders');\n$request->setMethod(HTTP_METH_GET);\n\n$request->setQueryData([\n  'offset' => '0',\n  'limit' => '10',\n  'user_id' => '944fb475-47c6-4b6b-bfc4-0ff629440661',\n  'company_id' => '944fb475-47c6-4b6b-bfc4-0ff629440661',\n  'sorting' => 'SOME_STRING_VALUE',\n  'meta_data' => 'name==value',\n  'with_analyses' => 'true',\n  'with_user' => 'true',\n  'with_company' => 'true',\n  'time_created.min' => '1612380071',\n  'time_created.max' => '1612383071',\n  'time_updated.min' => '1612380071',\n  'time_updated.max' => '1612383071',\n  'resolution_status' => 'SUCCESS',\n  'resolution_status.exclude' => 'SUCCESS',\n  'folder_id' => 'SOME_STRING_VALUE'\n]);\n\n$request->setHeaders([\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.liveness.kz/api/folders');\n$request->setRequestMethod('GET');\n$request->setQuery(new http\\QueryString([\n  'offset' => '0',\n  'limit' => '10',\n  'user_id' => '944fb475-47c6-4b6b-bfc4-0ff629440661',\n  'company_id' => '944fb475-47c6-4b6b-bfc4-0ff629440661',\n  'sorting' => 'SOME_STRING_VALUE',\n  'meta_data' => 'name==value',\n  'with_analyses' => 'true',\n  'with_user' => 'true',\n  'with_company' => 'true',\n  'time_created.min' => '1612380071',\n  'time_created.max' => '1612383071',\n  'time_updated.min' => '1612380071',\n  'time_updated.max' => '1612383071',\n  'resolution_status' => 'SUCCESS',\n  'resolution_status.exclude' => 'SUCCESS',\n  'folder_id' => 'SOME_STRING_VALUE'\n]));\n\n$request->setHeaders([\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]}},"/api/folders/{folder_id}":{"get":{"summary":"Get folder information","tags":["Folders"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"folder_id","schema":{"type":"string","format":"uuid","example":"07e44253-152a-4144-81ab-3b69bcb5a31c"},"required":true},{"in":"query","name":"with_analyses","schema":{"type":"boolean","example":true},"description":"add analyses information to query"},{"in":"query","name":"with_user","schema":{"type":"boolean","example":true},"description":"add user information to query"},{"in":"query","name":"with_company","schema":{"type":"boolean","example":true},"description":"add company information to query"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderModelExtended"}}}},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.liveness.kz/api/folders/%7Bfolder_id%7D',\n  qs: {with_analyses: 'true', with_user: 'true', with_company: 'true'},\n  headers: {'X-Forensic-Access-Token': 'REPLACE_KEY_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.liveness.kz/api/folders/%7Bfolder_id%7D?with_analyses=true&with_user=true&with_company=true' \\\n  --header 'X-Forensic-Access-Token: REPLACE_KEY_VALUE'"},{"lang":"Shell + Httpie","source":"http GET 'https://api.liveness.kz/api/folders/%7Bfolder_id%7D?with_analyses=true&with_user=true&with_company=true' \\\n  X-Forensic-Access-Token:REPLACE_KEY_VALUE"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\nheaders = { 'X-Forensic-Access-Token': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/api/folders/%7Bfolder_id%7D?with_analyses=true&with_user=true&with_company=true\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/folders/%7Bfolder_id%7D?with_analyses=true&with_user=true&with_company=true\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"X-Forensic-Access-Token: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/folders/%7Bfolder_id%7D');\n$request->setMethod(HTTP_METH_GET);\n\n$request->setQueryData([\n  'with_analyses' => 'true',\n  'with_user' => 'true',\n  'with_company' => 'true'\n]);\n\n$request->setHeaders([\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.liveness.kz/api/folders/%7Bfolder_id%7D');\n$request->setRequestMethod('GET');\n$request->setQuery(new http\\QueryString([\n  'with_analyses' => 'true',\n  'with_user' => 'true',\n  'with_company' => 'true'\n]));\n\n$request->setHeaders([\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]},"patch":{"summary":"Update folder","tags":["Folders"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"folder_id","schema":{"type":"string","format":"uuid","example":"07e44253-152a-4144-81ab-3b69bcb5a31c"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderModel"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderModel"}}}},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.liveness.kz/api/folders/%7Bfolder_id%7D',\n  headers: {\n    'content-type': 'application/json',\n    'X-Forensic-Access-Token': 'REPLACE_KEY_VALUE'\n  },\n  body: {\n    time_created: 1612383051.383863,\n    time_updated: 1612383074.309215,\n    meta_data: {},\n    technical_meta_data: {},\n    folder_id: 'b9265c8e-237c-4975-b3f1-9168848e46ae',\n    user_id: '5a0efac9-0db9-46e3-ac96-2e08927f0247',\n    resolution_time: 1612383074.30848,\n    resolution_status: 'SUCCESS',\n    resolution_endpoint: 'https://biometry.global.com',\n    resolution_state_hash: '5b18c907bd868f90',\n    resolution_comment: '',\n    operator_status: 'SUCCESS',\n    operator_comment: 'this is fake',\n    resolution_author_id: 'f876a6ae-f537-43a0-80fe-932939e96f4b',\n    is_archive: false,\n    media: [\n      {\n        time_created: 1612383051.383863,\n        time_updated: 1612383074.309215,\n        meta_data: {},\n        technical_meta_data: {},\n        media_id: '685f4213-b702-46c5-a779-b2ff0101370e',\n        media_type: 'VIDEO_FOLDER',\n        info: {\n          thumb: {\n            md5: 'b07563cce37c590e6767732559ac913b',\n            size: 15617,\n            width: 225,\n            height: 300,\n            'mime-type': 'image/jpeg'\n          },\n          original: {\n            md5: 'b07563cce37c590e6767732559ac913b',\n            size: 15617,\n            width: 225,\n            height: 300,\n            'mime-type': 'image/jpeg'\n          }\n        },\n        tags: ['video_selfie', 'video_selfie_scan', 'orientation_portrait'],\n        original_name: 'video.mp4',\n        thumb_url: 'https://ozapi.service.com/static/a4750814-6779-4954-82b4-3141c3378756/12596ccd-7f76-4c81-a1e9-e7f9846da8dd_thumb.jpg',\n        image_id: '07e44253-152a-4144-81ab-3b69bcb5a31c',\n        original_url: 'https://ozapi.service.com/static/a4750814-6779-4954-82b4-3141c3378756/12596ccd-7f76-4c81-a1e9-e7f9846da8dd.jpg'\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request PATCH \\\n  --url https://api.liveness.kz/api/folders/%7Bfolder_id%7D \\\n  --header 'X-Forensic-Access-Token: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_created\":1612383051.383863,\"time_updated\":1612383074.309215,\"meta_data\":{},\"technical_meta_data\":{},\"folder_id\":\"b9265c8e-237c-4975-b3f1-9168848e46ae\",\"user_id\":\"5a0efac9-0db9-46e3-ac96-2e08927f0247\",\"resolution_time\":1612383074.30848,\"resolution_status\":\"SUCCESS\",\"resolution_endpoint\":\"https://biometry.global.com\",\"resolution_state_hash\":\"5b18c907bd868f90\",\"resolution_comment\":\"\",\"operator_status\":\"SUCCESS\",\"operator_comment\":\"this is fake\",\"resolution_author_id\":\"f876a6ae-f537-43a0-80fe-932939e96f4b\",\"is_archive\":false,\"media\":[{\"time_created\":1612383051.383863,\"time_updated\":1612383074.309215,\"meta_data\":{},\"technical_meta_data\":{},\"media_id\":\"685f4213-b702-46c5-a779-b2ff0101370e\",\"media_type\":\"VIDEO_FOLDER\",\"info\":{\"thumb\":{\"md5\":\"b07563cce37c590e6767732559ac913b\",\"size\":15617,\"width\":225,\"height\":300,\"mime-type\":\"image/jpeg\"},\"original\":{\"md5\":\"b07563cce37c590e6767732559ac913b\",\"size\":15617,\"width\":225,\"height\":300,\"mime-type\":\"image/jpeg\"}},\"tags\":[\"video_selfie\",\"video_selfie_scan\",\"orientation_portrait\"],\"original_name\":\"video.mp4\",\"thumb_url\":\"https://ozapi.service.com/static/a4750814-6779-4954-82b4-3141c3378756/12596ccd-7f76-4c81-a1e9-e7f9846da8dd_thumb.jpg\",\"image_id\":\"07e44253-152a-4144-81ab-3b69bcb5a31c\",\"original_url\":\"https://ozapi.service.com/static/a4750814-6779-4954-82b4-3141c3378756/12596ccd-7f76-4c81-a1e9-e7f9846da8dd.jpg\"}]}'"},{"lang":"Shell + Httpie","source":"echo '{\"time_created\":1612383051.383863,\"time_updated\":1612383074.309215,\"meta_data\":{},\"technical_meta_data\":{},\"folder_id\":\"b9265c8e-237c-4975-b3f1-9168848e46ae\",\"user_id\":\"5a0efac9-0db9-46e3-ac96-2e08927f0247\",\"resolution_time\":1612383074.30848,\"resolution_status\":\"SUCCESS\",\"resolution_endpoint\":\"https://biometry.global.com\",\"resolution_state_hash\":\"5b18c907bd868f90\",\"resolution_comment\":\"\",\"operator_status\":\"SUCCESS\",\"operator_comment\":\"this is fake\",\"resolution_author_id\":\"f876a6ae-f537-43a0-80fe-932939e96f4b\",\"is_archive\":false,\"media\":[{\"time_created\":1612383051.383863,\"time_updated\":1612383074.309215,\"meta_data\":{},\"technical_meta_data\":{},\"media_id\":\"685f4213-b702-46c5-a779-b2ff0101370e\",\"media_type\":\"VIDEO_FOLDER\",\"info\":{\"thumb\":{\"md5\":\"b07563cce37c590e6767732559ac913b\",\"size\":15617,\"width\":225,\"height\":300,\"mime-type\":\"image/jpeg\"},\"original\":{\"md5\":\"b07563cce37c590e6767732559ac913b\",\"size\":15617,\"width\":225,\"height\":300,\"mime-type\":\"image/jpeg\"}},\"tags\":[\"video_selfie\",\"video_selfie_scan\",\"orientation_portrait\"],\"original_name\":\"video.mp4\",\"thumb_url\":\"https://ozapi.service.com/static/a4750814-6779-4954-82b4-3141c3378756/12596ccd-7f76-4c81-a1e9-e7f9846da8dd_thumb.jpg\",\"image_id\":\"07e44253-152a-4144-81ab-3b69bcb5a31c\",\"original_url\":\"https://ozapi.service.com/static/a4750814-6779-4954-82b4-3141c3378756/12596ccd-7f76-4c81-a1e9-e7f9846da8dd.jpg\"}]}' |  \\\n  http PATCH https://api.liveness.kz/api/folders/%7Bfolder_id%7D \\\n  X-Forensic-Access-Token:REPLACE_KEY_VALUE \\\n  content-type:application/json"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\npayload = \"{\\\"time_created\\\":1612383051.383863,\\\"time_updated\\\":1612383074.309215,\\\"meta_data\\\":{},\\\"technical_meta_data\\\":{},\\\"folder_id\\\":\\\"b9265c8e-237c-4975-b3f1-9168848e46ae\\\",\\\"user_id\\\":\\\"5a0efac9-0db9-46e3-ac96-2e08927f0247\\\",\\\"resolution_time\\\":1612383074.30848,\\\"resolution_status\\\":\\\"SUCCESS\\\",\\\"resolution_endpoint\\\":\\\"https://biometry.global.com\\\",\\\"resolution_state_hash\\\":\\\"5b18c907bd868f90\\\",\\\"resolution_comment\\\":\\\"\\\",\\\"operator_status\\\":\\\"SUCCESS\\\",\\\"operator_comment\\\":\\\"this is fake\\\",\\\"resolution_author_id\\\":\\\"f876a6ae-f537-43a0-80fe-932939e96f4b\\\",\\\"is_archive\\\":false,\\\"media\\\":[{\\\"time_created\\\":1612383051.383863,\\\"time_updated\\\":1612383074.309215,\\\"meta_data\\\":{},\\\"technical_meta_data\\\":{},\\\"media_id\\\":\\\"685f4213-b702-46c5-a779-b2ff0101370e\\\",\\\"media_type\\\":\\\"VIDEO_FOLDER\\\",\\\"info\\\":{\\\"thumb\\\":{\\\"md5\\\":\\\"b07563cce37c590e6767732559ac913b\\\",\\\"size\\\":15617,\\\"width\\\":225,\\\"height\\\":300,\\\"mime-type\\\":\\\"image/jpeg\\\"},\\\"original\\\":{\\\"md5\\\":\\\"b07563cce37c590e6767732559ac913b\\\",\\\"size\\\":15617,\\\"width\\\":225,\\\"height\\\":300,\\\"mime-type\\\":\\\"image/jpeg\\\"}},\\\"tags\\\":[\\\"video_selfie\\\",\\\"video_selfie_scan\\\",\\\"orientation_portrait\\\"],\\\"original_name\\\":\\\"video.mp4\\\",\\\"thumb_url\\\":\\\"https://ozapi.service.com/static/a4750814-6779-4954-82b4-3141c3378756/12596ccd-7f76-4c81-a1e9-e7f9846da8dd_thumb.jpg\\\",\\\"image_id\\\":\\\"07e44253-152a-4144-81ab-3b69bcb5a31c\\\",\\\"original_url\\\":\\\"https://ozapi.service.com/static/a4750814-6779-4954-82b4-3141c3378756/12596ccd-7f76-4c81-a1e9-e7f9846da8dd.jpg\\\"}]}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'X-Forensic-Access-Token': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"PATCH\", \"/api/folders/%7Bfolder_id%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/folders/%7Bfolder_id%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"PATCH\",\n  CURLOPT_POSTFIELDS => \"{\\\"time_created\\\":1612383051.383863,\\\"time_updated\\\":1612383074.309215,\\\"meta_data\\\":{},\\\"technical_meta_data\\\":{},\\\"folder_id\\\":\\\"b9265c8e-237c-4975-b3f1-9168848e46ae\\\",\\\"user_id\\\":\\\"5a0efac9-0db9-46e3-ac96-2e08927f0247\\\",\\\"resolution_time\\\":1612383074.30848,\\\"resolution_status\\\":\\\"SUCCESS\\\",\\\"resolution_endpoint\\\":\\\"https://biometry.global.com\\\",\\\"resolution_state_hash\\\":\\\"5b18c907bd868f90\\\",\\\"resolution_comment\\\":\\\"\\\",\\\"operator_status\\\":\\\"SUCCESS\\\",\\\"operator_comment\\\":\\\"this is fake\\\",\\\"resolution_author_id\\\":\\\"f876a6ae-f537-43a0-80fe-932939e96f4b\\\",\\\"is_archive\\\":false,\\\"media\\\":[{\\\"time_created\\\":1612383051.383863,\\\"time_updated\\\":1612383074.309215,\\\"meta_data\\\":{},\\\"technical_meta_data\\\":{},\\\"media_id\\\":\\\"685f4213-b702-46c5-a779-b2ff0101370e\\\",\\\"media_type\\\":\\\"VIDEO_FOLDER\\\",\\\"info\\\":{\\\"thumb\\\":{\\\"md5\\\":\\\"b07563cce37c590e6767732559ac913b\\\",\\\"size\\\":15617,\\\"width\\\":225,\\\"height\\\":300,\\\"mime-type\\\":\\\"image/jpeg\\\"},\\\"original\\\":{\\\"md5\\\":\\\"b07563cce37c590e6767732559ac913b\\\",\\\"size\\\":15617,\\\"width\\\":225,\\\"height\\\":300,\\\"mime-type\\\":\\\"image/jpeg\\\"}},\\\"tags\\\":[\\\"video_selfie\\\",\\\"video_selfie_scan\\\",\\\"orientation_portrait\\\"],\\\"original_name\\\":\\\"video.mp4\\\",\\\"thumb_url\\\":\\\"https://ozapi.service.com/static/a4750814-6779-4954-82b4-3141c3378756/12596ccd-7f76-4c81-a1e9-e7f9846da8dd_thumb.jpg\\\",\\\"image_id\\\":\\\"07e44253-152a-4144-81ab-3b69bcb5a31c\\\",\\\"original_url\\\":\\\"https://ozapi.service.com/static/a4750814-6779-4954-82b4-3141c3378756/12596ccd-7f76-4c81-a1e9-e7f9846da8dd.jpg\\\"}]}\",\n  CURLOPT_HTTPHEADER => [\n    \"X-Forensic-Access-Token: REPLACE_KEY_VALUE\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\nHttpRequest::methodRegister('PATCH');\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/folders/%7Bfolder_id%7D');\n$request->setMethod(HttpRequest::HTTP_METH_PATCH);\n\n$request->setHeaders([\n  'content-type' => 'application/json',\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$request->setBody('{\"time_created\":1612383051.383863,\"time_updated\":1612383074.309215,\"meta_data\":{},\"technical_meta_data\":{},\"folder_id\":\"b9265c8e-237c-4975-b3f1-9168848e46ae\",\"user_id\":\"5a0efac9-0db9-46e3-ac96-2e08927f0247\",\"resolution_time\":1612383074.30848,\"resolution_status\":\"SUCCESS\",\"resolution_endpoint\":\"https://biometry.global.com\",\"resolution_state_hash\":\"5b18c907bd868f90\",\"resolution_comment\":\"\",\"operator_status\":\"SUCCESS\",\"operator_comment\":\"this is fake\",\"resolution_author_id\":\"f876a6ae-f537-43a0-80fe-932939e96f4b\",\"is_archive\":false,\"media\":[{\"time_created\":1612383051.383863,\"time_updated\":1612383074.309215,\"meta_data\":{},\"technical_meta_data\":{},\"media_id\":\"685f4213-b702-46c5-a779-b2ff0101370e\",\"media_type\":\"VIDEO_FOLDER\",\"info\":{\"thumb\":{\"md5\":\"b07563cce37c590e6767732559ac913b\",\"size\":15617,\"width\":225,\"height\":300,\"mime-type\":\"image/jpeg\"},\"original\":{\"md5\":\"b07563cce37c590e6767732559ac913b\",\"size\":15617,\"width\":225,\"height\":300,\"mime-type\":\"image/jpeg\"}},\"tags\":[\"video_selfie\",\"video_selfie_scan\",\"orientation_portrait\"],\"original_name\":\"video.mp4\",\"thumb_url\":\"https://ozapi.service.com/static/a4750814-6779-4954-82b4-3141c3378756/12596ccd-7f76-4c81-a1e9-e7f9846da8dd_thumb.jpg\",\"image_id\":\"07e44253-152a-4144-81ab-3b69bcb5a31c\",\"original_url\":\"https://ozapi.service.com/static/a4750814-6779-4954-82b4-3141c3378756/12596ccd-7f76-4c81-a1e9-e7f9846da8dd.jpg\"}]}');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"time_created\":1612383051.383863,\"time_updated\":1612383074.309215,\"meta_data\":{},\"technical_meta_data\":{},\"folder_id\":\"b9265c8e-237c-4975-b3f1-9168848e46ae\",\"user_id\":\"5a0efac9-0db9-46e3-ac96-2e08927f0247\",\"resolution_time\":1612383074.30848,\"resolution_status\":\"SUCCESS\",\"resolution_endpoint\":\"https://biometry.global.com\",\"resolution_state_hash\":\"5b18c907bd868f90\",\"resolution_comment\":\"\",\"operator_status\":\"SUCCESS\",\"operator_comment\":\"this is fake\",\"resolution_author_id\":\"f876a6ae-f537-43a0-80fe-932939e96f4b\",\"is_archive\":false,\"media\":[{\"time_created\":1612383051.383863,\"time_updated\":1612383074.309215,\"meta_data\":{},\"technical_meta_data\":{},\"media_id\":\"685f4213-b702-46c5-a779-b2ff0101370e\",\"media_type\":\"VIDEO_FOLDER\",\"info\":{\"thumb\":{\"md5\":\"b07563cce37c590e6767732559ac913b\",\"size\":15617,\"width\":225,\"height\":300,\"mime-type\":\"image/jpeg\"},\"original\":{\"md5\":\"b07563cce37c590e6767732559ac913b\",\"size\":15617,\"width\":225,\"height\":300,\"mime-type\":\"image/jpeg\"}},\"tags\":[\"video_selfie\",\"video_selfie_scan\",\"orientation_portrait\"],\"original_name\":\"video.mp4\",\"thumb_url\":\"https://ozapi.service.com/static/a4750814-6779-4954-82b4-3141c3378756/12596ccd-7f76-4c81-a1e9-e7f9846da8dd_thumb.jpg\",\"image_id\":\"07e44253-152a-4144-81ab-3b69bcb5a31c\",\"original_url\":\"https://ozapi.service.com/static/a4750814-6779-4954-82b4-3141c3378756/12596ccd-7f76-4c81-a1e9-e7f9846da8dd.jpg\"}]}');\n\n$request->setRequestUrl('https://api.liveness.kz/api/folders/%7Bfolder_id%7D');\n$request->setRequestMethod('PATCH');\n$request->setBody($body);\n\n$request->setHeaders([\n  'content-type' => 'application/json',\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]},"delete":{"summary":"Delete folder","tags":["Folders"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"folder_id","schema":{"type":"string","format":"uuid"},"required":true,"example":"07e44253-152a-4144-81ab-3b69bcb5a31c"}],"responses":{"204":{"description":"OK"},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.liveness.kz/api/folders/07e44253-152a-4144-81ab-3b69bcb5a31c',\n  headers: {'X-Forensic-Access-Token': 'REPLACE_KEY_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request DELETE \\\n  --url https://api.liveness.kz/api/folders/07e44253-152a-4144-81ab-3b69bcb5a31c \\\n  --header 'X-Forensic-Access-Token: REPLACE_KEY_VALUE'"},{"lang":"Shell + Httpie","source":"http DELETE https://api.liveness.kz/api/folders/07e44253-152a-4144-81ab-3b69bcb5a31c \\\n  X-Forensic-Access-Token:REPLACE_KEY_VALUE"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\nheaders = { 'X-Forensic-Access-Token': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"DELETE\", \"/api/folders/07e44253-152a-4144-81ab-3b69bcb5a31c\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/folders/07e44253-152a-4144-81ab-3b69bcb5a31c\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => [\n    \"X-Forensic-Access-Token: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/folders/07e44253-152a-4144-81ab-3b69bcb5a31c');\n$request->setMethod(HTTP_METH_DELETE);\n\n$request->setHeaders([\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.liveness.kz/api/folders/07e44253-152a-4144-81ab-3b69bcb5a31c');\n$request->setRequestMethod('DELETE');\n$request->setHeaders([\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]}},"/api/folders/{folder_id}/media":{"post":{"summary":"Add media to folder","tags":["Media"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"folder_id","schema":{"type":"string","format":"uuid","example":"07e44253-152a-4144-81ab-3b69bcb5a31c"},"required":true}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"payload":{"type":"object","properties":{"media:meta-data":{"description":"any custom meta data associated with media","type":"object","example":{"session_id":24857}},"media:tags":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/TagType"}},"example":{"video1":["video_selfie","video_selfie_scan","orientation_portrait"],"photo1":["photo_selfie"],"photo2":["photo_id","photo_id_front"]}}}},"photo1":{"type":"string","format":"binary"},"photo2":{"type":"string","format":"binary"},"video1":{"type":"string","format":"binary"},"video2":{"type":"string","format":"binary"}},"additionalProperties":{"type":"string","format":"binary"}},"encoding":{"payload":{"contentType":"application/json"}}}}},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderModel"}}}},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.liveness.kz/api/folders/%7Bfolder_id%7D/media',\n  headers: {\n    'content-type': 'multipart/form-data',\n    'X-Forensic-Access-Token': 'REPLACE_KEY_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request POST \\\n  --url https://api.liveness.kz/api/folders/%7Bfolder_id%7D/media \\\n  --header 'X-Forensic-Access-Token: REPLACE_KEY_VALUE' \\\n  --header 'content-type: multipart/form-data'"},{"lang":"Shell + Httpie","source":"http POST https://api.liveness.kz/api/folders/%7Bfolder_id%7D/media \\\n  X-Forensic-Access-Token:REPLACE_KEY_VALUE \\\n  content-type:multipart/form-data"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\nheaders = {\n    'content-type': \"multipart/form-data\",\n    'X-Forensic-Access-Token': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"POST\", \"/api/folders/%7Bfolder_id%7D/media\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/folders/%7Bfolder_id%7D/media\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_HTTPHEADER => [\n    \"X-Forensic-Access-Token: REPLACE_KEY_VALUE\",\n    \"content-type: multipart/form-data\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/folders/%7Bfolder_id%7D/media');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders([\n  'content-type' => 'multipart/form-data',\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.liveness.kz/api/folders/%7Bfolder_id%7D/media');\n$request->setRequestMethod('POST');\n$request->setHeaders([\n  'content-type' => 'multipart/form-data',\n  'X-Forensic-Access-Token' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"}]},"get":{"summary":"Get media from folder","tags":["Media"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"folder_id","schema":{"type":"string","format":"uuid","example":"07e44253-152a-4144-81ab-3b69bcb5a31c"},"required":true},{"in":"query","name":"meta_data","schema":{"type":"string","example":"name==value"},"description":"filter by meta-data values. allowed operators: == and !="},{"in":"query","description":"filter by media type","name":"media_type","schema":{"description":"type of media","type":"string","enum":["IMAGE_USER_PROFILE","IMAGE_FOLDER","IMAGE_SHOTS_SET","IMAGE_RESULT_ANALYSE_SINGLE","IMAGE_RESULT_ANALYSE_GROUP","IMAGE_COLLECTION_PERSON","SHOTS_SET_FOLDER","VIDEO_FOLDER"],"example":"VIDEO_FOLDER"}},{"in":"query","description":"filter by media id","name":"media_id","schema":{"type":"string","format":"uuid","example":"07e44253-152a-4144-81ab-3b69bcb5a31c"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MediaModel"}}}}},"default":{"$ref":"#/components/responses/ErrorResponse"}},"x-codeSamples":[{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.liveness.kz/api/folders/%7Bfolder_id%7D/media',\n  qs: {\n    meta_data: 'name==value',\n    media_type: 'VIDEO_FOLDER',\n    media_id: '07e44253-152a-4144-81ab-3b69bcb5a31c'\n  },\n  headers: {'X-Forensic-Access-Token': 'REPLACE_KEY_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.liveness.kz/api/folders/%7Bfolder_id%7D/media?meta_data=name%3D%3Dvalue&media_type=VIDEO_FOLDER&media_id=07e44253-152a-4144-81ab-3b69bcb5a31c' \\\n  --header 'X-Forensic-Access-Token: REPLACE_KEY_VALUE'"},{"lang":"Shell + Httpie","source":"http GET 'https://api.liveness.kz/api/folders/%7Bfolder_id%7D/media?meta_data=name%3D%3Dvalue&media_type=VIDEO_FOLDER&media_id=07e44253-152a-4144-81ab-3b69bcb5a31c' \\\n  X-Forensic-Access-Token:REPLACE_KEY_VALUE"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.liveness.kz\")\n\nheaders = { 'X-Forensic-Access-Token': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/api/folders/%7Bfolder_id%7D/media?meta_data=name%3D%3Dvalue&media_type=VIDEO_FOLDER&media_id=07e44253-152a-4144-81ab-3b69bcb5a31c\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.liveness.kz/api/folders/%7Bfolder_id%7D/media?meta_data=name%3D%3Dvalue&media_type=VIDEO_FOLDER&media_id=07e44253-152a-4144-81ab-3b69bcb5a31c\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"X-Forensic-Access-Token: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.liveness.kz/api/folders/%7Bfolder_id
[...]
